.delete-checkbox{
    align-self: flex-start;
    
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center
}
.product-item{
    margin: 30px;
    height: fit-content;
    width: 20%;
    
}
.delete-checkbox{
    position: relative;
    top: 20px;
}