$position:fixed;
$window_width:100vw;
$footer_height: 7vh;
.footer{
    position:$position;
    bottom: 0px;
    left: 0;
    width: $window_width;
    height: $footer_height;
    //margin-top: 300px;
    background-color: rgb(233, 227, 227);
}
.footer-content{
    display: flex;
    justify-content:center;
    position: relative;
    bottom: 10px;
}