#cancel-product-btn{
    margin: 0px 20px 0px 20px;
}
.form-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
}
.form-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .form-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    display: flex;
    justify-content: center; /* Firefox */
  }