
$black:rgb(78, 66, 66);
$box-shadow-inset:   5px 5px rgba($black, 0.65);
$flex:flex;
.header-container{
    //background-color: aqua;
    display: $flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    align-items: flex-end;
}



#app{
    height: 100vh;
}

#header-children>button:hover{
    background-color: rgba(177, 7, 7, 0.685);
    color: blanchedalmond;
}

#header-children>button:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    top: 10px;
    margin-bottom: 0;
  }
  #header-children>button{
    background-color: #e7e7e7; 
    color: $black;
    border: none;
   // color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    box-shadow: $box-shadow-inset;
  }
.shadow-btn{
    background-color: #e7e7e7; 
    color: black;
    border: none;
   // color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
box-shadow: $box-shadow-inset;
}

.header-title{
    position: relative;
    //left: 10rem;
    margin-left: 3rem;
    top: 1rem;
    justify-content: flex-start;
    font-family: ui-sans-serif;

}
#header-children{
    justify-content: flex-end;
}





.product-body{
    display: flex;
    
    width: 100%;
}
