.products-container{
    height: 80vh;
    overflow-y: scroll;
   // margin-top: 10px;
    //margin-bottom: 10px;

}
.products-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .products-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    display: flex;
    //justify-content: center; /* Firefox */
  }
  #delete-product-btn{
    margin: 0px 20px 0px 20px;
}